#list {
    margin: 20px 0 ;
}

.search-button {
    margin: 2px;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    height: 30px;
}

button.search-button {
    width: 30px;
}